{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="text-center mt-5">
		<h1>
			<strong>{{ website }}</strong>
		</h1>
		<h2>
			<strong>Participatory Innovation</strong>
		</h2>
		<div class="col grid m-5">

			<img src="{{ asset('/build/images/idee-lampe.jpeg') }}" class="img-home rounded float-start img-fluid" alt="">
			<div class="col-md-7 ms-md-auto m-5">
				<h3 class="title-text">
					<strong>The site to share your ideas.</strong>
				</h3>
				<p class="text-home font-weight-light">
					Come and use our ideation tool to promote what is important to you!!
				</p>
				<form>
					<div class="col-lg-8">
						<div
							class="card-body py-5 px-md-5">
							<!-- Email input -->
							<div class="form-outline mb-4">
								<input type="email" id="formMail" class="form-control"/>
								<label class="form-label" for="formMail">Email address</label>
							</div>

							<!-- Password input -->
							<div class="form-outline mb-4">
								<input type="password" id="formPassword" class="form-control"/>
								<label class="form-label" for="formPassword">Password</label>
							</div>

							<!-- Submit button -->
							<button type="button" class="btn btn-primary">Sign in</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
