{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="text-center mt-5">
		<h1>
			<strong>{{ website }}</strong>
		</h1>
		<h2>
			<strong>Participatory Innovation</strong>
		</h2>
		<div class="col grid m-5">

			<img src="{{ asset('/build/images/idee-lampe.jpeg') }}" class="img-home rounded float-start img-fluid" alt="">
			<div class="col-md-7 ms-md-auto m-5">
				<h3 class="title-text">
					<strong>The site to share your ideas.</strong>
				</h3>
				<p class="text-home font-weight-light">
					Come and use our ideation tool to promote what is important to you!!
				</p>

				<div class="col-lg-8">
					<div class="card-body py-5 px-md-5">
						{% if error is defined and error %}
							<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
						<form action="{{ path('app_homes') }}" method="post">
							<label for="username">Email:</label>
							<input type="text" id="username" name="_username">

							<label for="password">Password:</label>
							<input
							type="password" id="password" name="_password">

							{# If you want to control the URL the user is redirected to on success
																																																																																																																																								        <input type="hidden" name="_target_path" value="/account"> #}

							<button type="submit">login</button>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
