.row {
    --bs-gutter-x: 0rem;
}

.user_picture {
    max-height: 150px;
    max-width: 150px;
}

.img-fluid {
    max-height: 100%;
}

.card-body {

    height: 215px;
    display: flex;
    flex-direction: column;
}

.img-thumbnail {
    background-color: #168BAC;
}

.card-text {
    height: 200px;
}

.idea_card:hover {
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 0.4s cubic-bezier(0.79, 0.33, 0, -0.01);transition: all 0.4s cubic-bezier(0.79, 0.33, 0, -0.01);
}
