.row {
    --bs-gutter-x: 0rem;
}

.user_picture {
    max-height: 150px;
    max-width: 150px;
}

.img-fluid {
    max-height: 100%;
}

.card-body{

    height: 400px;
}
.img-thumbnail {
    background-color: #168BAC;
}