.row {
    --bs-gutter-x: 0rem;
}

.user_picture {
    height: 99.33px;
    width: 99.33px;
}

.user_picture2 {
    height: 50px;
    width: 50px;
}

.img-fluid {
    max-height: 100%;
}

.card-body {
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img-thumbnail {
    background-color: #168BAC;
}

.idea_card:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.4s cubic-bezier(0.79, 0.33, 0, -0.01);
    transition: all 0.4s cubic-bezier(0.79, 0.33, 0, -0.01);
}

.card-details {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.4s cubic-bezier(0.79, 0.33, 0, -0.01);
    transition: all 0.4s cubic-bezier(0.79, 0.33, 0, -0.01);
}

.detail_card {
    width: 100%;
}

.link-card-decoration:hover {
    color: black;
}

.idea_card:hover h3 {
    color: rgb(26, 136, 215);
}

.container-card {
    height: 465px;
}