

body { 
    background-color:#faf5ed;
}

.img-home {
    width: 400px;
}

.img-logo {
    width: 60px;
}

h1 {
    font-family: 'Inter', sans-serif;
    color: #032D60;
}

h2 {
    font-family: 'Inter', sans-serif;
    color: #032D60;
}
