@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
$title-color: #032D60;

body {
    background-color: #faf5ed;
}

.img-home {
    width: 400px;
}

.img-logo {
    width: 60px;
}

h1,
h2 {
    color: $title-color;
}