{% extends 'base.html.twig' %}

{% block title %}Idea index
{% endblock %}

{% block body %}
	<h1 class="text-center m-3"></h1>
	<div class="text-center">
		<button type="button" class="btn btn-success m-5">
			<a href="{{ path('app_idea_new') }}">Create new idea</a>
		</button>
	</div>
	<div class="d-flex flex-row-reverse"></div>
	<div class="container">
		<div class="row d-flex justify-content-around">
			{% for idea in ideas %}
				{% if idea.status == 'in progress' %}
					{% include "Shared/_ideaCard.html.twig" %}
				{% endif %}
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}

		</div>
	</div>

{% endblock %}
