{% extends 'base.html.twig' %}

{% block title %}Idea index
{% endblock %}

{% block body %}
	<h1>Idea index</h1>
	{% include "Shared/_ideaCard.html.twig" %}
	<a href="{{ path('app_idea_new') }}">Create new</a>

{% endblock %}
